.unidad_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin: 2rem auto;
}

.unidad_resources {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 45px;
    justify-content: space-between;
}

.circle_btn.content {
    width: 150px;
}

.circle_btn:nth-child(2) {
    right: 100px;
}

.quizz span,
.geo span {
    display: none;
}

.quizz .tooltip,
.geo .tooltip {
    top: -28px;
    cursor: pointer;
    opacity: 1;
    pointer-events: none;
}

.quizz .tooltip,
.quizz .tooltip::before {
    background-color: #3eff82;
}

.geo .tooltip,
.geo .tooltip::before {
    background-color: #a846fd;
}

@media screen and (max-width: 840px) {
    .circle_btn:nth-child(2) {
        right: 70px;
    }
}

@media screen and (max-width: 800px) {
    .unidad_resources {
        flex-direction: column;
    }
    .circle_btn:nth-child(2) {
        right: 0;
    }
}