/* front page */

.front_page_container {
    width: 100%;
    height: 500px;
    position: relative;
    z-index: -1;
    display: flex;
    margin-top: 80px;
}

.front_page_cover {
    position: absolute;
    padding-bottom: 10px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: linear-gradient(to left top, rgb(45, 220, 214), transparent), linear-gradient(to right bottom, rgb(45, 220, 214), transparent);
}

.front_page_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.front_page_title {
    margin: 0 10px;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.front_page_phrase {
    margin: 0 10px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}


/* End front page */