/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 0 25px 0 #000;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}


/* Logo */

.logo {
    margin: 3px 0 0 50px;
    display: flex;
    align-items: center;
}

.logo_img_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(80, 80, 80);
}

.logo_sentence_link {
    color: #46a2fd;
    text-align: center;
    width: 150px;
    margin: 0 15px;
    font-size: .7em;
    cursor: pointer;
    display: none;
}

.logo_img {
    width: 50px;
    height: 50px;
}

.logo_name {
    cursor: pointer;
    font-size: .7em;
    color: #2d7ac8;
}

.logo_lastname {
    color: #e6a100;
}


/* End logo */

.menu_container {
    display: flex;
    margin-right: 50px;
}

.menu_btns {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default_menu,
.unidades_menu,
.resources_menu {
    width: 500px;
    height: 100%;
    left: 0;
    display: flex;
    list-style: none;
}

.default_menu.unidades,
.unidades_menu,
.resources_menu {
    left: 50px;
}

.unidades_menu,
.resources_menu {
    display: flex;
    flex-direction: column;
    transform: translateX(-100vw);
}

.menu_link,
.menu_session_started {
    height: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.menu_bar {
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.menu_link:hover .menu_bar,
.menu_session_started:hover .menu_bar,
.menu_link.selected .menu_bar {
    background: #46a2fd;
}

.menu_link li,
.menu_link .fas,
.menu_session_started,
.menu_session_started .fas {
    color: #777777;
    transition: color .5s;
}


/* Selected item_menu*/

.menu_link:hover li,
.menu_session_started:hover,
.menu_link.selected li,
.menu_link.unidad_selected li,
.menu_link.resource_selected li {
    color: #46a2fd;
}

.menu_link:hover .fas,
.menu_session_started:hover .fas,
.menu_link.selected .fas,
.menu_link.unidad_selected .fas,
.menu_link.resource_selected .fas {
    color: #46a2fd;
}


/* End Selected item_menu*/

.menu_link li:hover {
    color: #46a2fd;
    cursor: pointer;
}

.menu_link li i,
.menu_session_started i {
    display: none;
}

.menu_icon {
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

[id^="menu_icon_"]:hover,
.lateral_menu_selected {
    background: #848484fa;
    color: #fff;
    border-radius: 0;
}

.menu_icon.dif_page {
    background: #eeeeeefa;
    color: #787878;
    border-radius: 100%;
}

.menu_icon:hover {
    opacity: 0.7;
}


/* Logout button */

.session_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.session_email {
    cursor: pointer;
}

.session_logout {
    cursor: pointer;
}

.session_logout_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 50px;
    height: 50px;
    width: 100%;
    background: #fff;
    color: #777777;
    transform-origin: top center;
    transform: scale(1, 0);
    transition: transform .5s, color 1s;
    cursor: pointer;
    border-top: 2px solid;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-image: linear-gradient(to right, transparent, #05e3ca) 1;
}

.session_logout_container:hover {
    color: #46a2fd;
}

.menu_session_started:hover .session_logout_container {
    transform: scale(1, 1);
}


/* End Logout button */

@media screen and (max-width: 800px) {
    .default_menu,
    .unidades_menu,
    .resources_menu {
        flex-direction: column;
        height: 100vh;
        position: fixed;
        top: 80px;
        background: rgb(241, 241, 241);
        overflow: hidden;
        transform: translateX(-550px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1, 0, 0, 1);
    }
    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }
    .menu_link,
    .menu_session_started {
        width: 100%;
        height: 50px;
        justify-content: flex-start;
    }
    .menu_bar {
        width: 0;
    }
    .menu_link li i,
    .menu_session_started i {
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #46a2fd;
    }
    .menu_icon {
        display: flex;
    }
    .session_logout_container {
        top: 38px;
        width: 150px;
        justify-content: flex-start;
        background: rgb(241, 241, 241);
        border-image: linear-gradient(to right, #05e3ca, transparent) 1;
        box-shadow: none;
    }
}

@media screen and (max-height: 630px) {
    .menu_icon:last-child {
        display: flex;
    }
    .resources_menu {
        flex-direction: column;
        height: 100vh;
        position: fixed;
        top: 80px;
        background: rgb(241, 241, 241);
        overflow: hidden;
        transform: translateX(-550px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1, 0, 0, 1);
    }
    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }
    .resources_menu .menu_link {
        width: 100%;
        height: 50px;
        justify-content: flex-start;
    }
    .resources_menu .menu_bar {
        width: 0;
    }
    .resources_menu .menu_link li i {
        width: 20px;
        display: inline-block;
        margin-right: 10px;
    }
}

@media screen and (max-height: 481px) {
    .menu_icon:last-child {
        height: 40px;
    }
    .resources_menu .menu_link {
        height: 40px;
    }
    .unidades_menu .menu_link {
        height: 40px;
    }
}

@media screen and (max-height: 411px) {
    .menu_icon:last-child {
        height: 35px;
    }
    .resources_menu .menu_link {
        height: 35px;
    }
    .unidades_menu .menu_link {
        height: 35px;
    }
}

@media screen and (max-height: 376px) {
    .menu_icon:last-child {
        height: 30px;
    }
    .resources_menu .menu_link {
        height: 30px;
    }
    .unidades_menu .menu_link {
        height: 30px;
    }
}


/* End header */